:root {
    --icon-background-default: #F4F6F8;
    --icon-background-selected: #E5E8FD;
    --icon-color-default: #343A40;
    --icon-color-selected: #253CF2;
    --border-color: #dee2e5;
    --white: #fff;
    --root-background: #e0e0e0;
}
