.app-background {
    background-color: var(--root-background);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.app {
    padding: 28px 18px;
    background-color: var(--white);
    border: 1px solid var(--border-color);
    border-radius: 8px;
}
